*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background-image: url("../public/img/зерна.jpg");
  width: 100%;
  display: flex;
  justify-content: center;
  .wrapper{
    width: 90%;
    background-color: #fff;
    height: 100vh;
  }
}
.header_icons{
  color: rgb(10, 10, 164);
  cursor: pointer;
  font-size: 25px;
}

