* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-image: url("../public/img/зерна.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  .wrapper {
    width: 90%;
    background-color: #fff;
  }
}
.header{
  height: 90px;
}
.header_icons {
  color: rgb(10, 10, 164);
  cursor: pointer;
  font-size: 25px;
}

.navbar-nav {
  align-items: center;
}
.ant-dropdown-link {
  text-decoration: none;
}
.ant-dropdown-menu-submenu-title {
  display: flex;
  align-items: center;
}
.ant-dropdown-menu-submenu-expand-icon {
  top: 2px;
}

.home {
  padding: 0;
  background-image: url("https://hotel-edem.lviv.ua/wp-content/uploads/2019/09/golovna-vzhe-obrizana.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  .home_wrap {
    height: 500px;
    background-color: rgba(211, 211, 211, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    svg {
      font-size: 250px;
      opacity: 1;
      &:hover {
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }
}
.card {
  img {
    height: 200px;
  }
}

.barmen {
  width: 60px;
  height: 90px;
  background: url("../public/img/sprite.png");
  background-position-y: -930px;
margin-right: 50px;
 
}

.one {
  background-position-x: -5px;
}
.two {
  background-position-x: -71px;
}
.three {
  background-position-x: -137px;
}
.four {
  background-position-x: -203px;
}
.five {
  background-position-x: -269px;
}
.six {
  background-position-x: -335px;
}
.seven {
  background-position-x: -401px;
}
.eight {
  background-position-x: -467px;
}
